{% extends "base.html.twig" %}
{% block body %}
	{% include "pages/nav.html.twig" %}
	<div class="container">
		<img src="{{ asset('img/TunisiaFlagIllo.jpg') }}">
		<h1>Hello from Tunisia</h1>
		<h1>
			it's currently
			{{ 'now'|date('h:i A')}}
		</h1>
	</div>
	{% include "pages/footer.html.twig" %}
{% endblock %}
